.centered_form {
    @extend .col-md-4;
    @extend .col-md-offset-4;
    @extend .col-sm-6;
    @extend .col-sm-offset-3;

    input[type=submit] {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-block;
    }
}

select.date, select.datetime, select.time {
    display: inline;
    width: auto;
}

@media(min-width:768px) {
    form .text {
        height: 180px;
    }
}