.navigation {
    @extend .navbar;
    @extend .navbar-inverse;
    @extend .navbar-static-top;

    .header {
        @extend .navbar-header;

        .brand {
            @extend .navbar-brand;
        }

        .toggle {
            @extend .navbar-toggle;
            @extend .collapsed;
        }
    }

    .right-menu {
        @extend .nav;
        @extend .navbar-nav;
        @extend .navbar-right;
        margin-right: 15px;
    }

    .sidebar {
        @extend .navbar-default;
        padding: 0;
    }

    .collapsable {
        @extend .navbar-collapse;
        margin-top: 0;
        margin-bottom: 0;
    }

    .sidebar {
        background: none;
    }

    .sidebar li a:hover {
        background: none;
        color: $link-color;
    }

    .sidebar ul li a {
        color: $gray;
    }

    .sidebar ul li.active a {
        color: $link-color;
    }

    .sidebar .arrow {
        float: right;
    }

    .sidebar .fa.arrow:before {
        content: "\f104";
    }

    .sidebar .active > a > .fa.arrow:before {
        content: "\f107";
    }

    .sidebar .nav-second-level li,
    .sidebar .nav-third-level li {
        border-bottom: none !important;
    }

    .sidebar .nav-second-level li a {
        padding-left: 37px;
    }

    .sidebar .nav-third-level li a {
        padding-left: 52px;
    }

    @media(min-width:768px) {
        .sidebar {
            z-index: 1;
            position: absolute;
            width: 250px;
            margin-top: 41px;
            padding-right: 30px;
        }
    }
}
#side-menu {

}