.record-table {
    @extend .table;
    @extend .table-striped;

    td {
        vertical-align: middle !important;
    }

    th.picture, td.picture {
        text-align: center;
        width: 60px;
    }

    th.admin, td.admin {
        width: 60px;
    }

    th.actions, td.actions {
        width: 120px;
    }

    .actions div {
        @extend .pull-right;
        @extend .btn-group;
        white-space: nowrap;

        a {
            @extend .btn;
            @extend .btn-default;
        }
    }

    .toggle {
        a {
            @extend .btn;
        }

        a.checked {
            @extend .btn-success;
        }

        a.unchecked {
            @extend .btn-primary;
        }
    }

    .subtitle {
        font-size: 0.9em;
        font-style: italic;
    }
}

.picture-placeholder {
    @extend .img-thumbnail;

    .glyphicon {
        width: 50px;
        height: 50px;
        font-size: 48px;
        text-align: center;
    }
}
