th.actions, td.actions {
    width: 150px;
    text-align: right;
}

td.action, td.actions {
    i.fa {
        font-size: 14px;
    }
}

th.action, td.action {
    text-align: center;
}

.record-table td {
    vertical-align: middle !important;

    &.boolean-col {
        .fa-check-square-o { color: $color-success; }
        .fa-minus-square-o { color: $color-failure; }
    }
}

.conference-title {
    display: inline-block;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
}

.conference-actions {
    float: right;
    text-align: right;
}
