.speaker-profile {
    @extend .col-sm-offset-2;
    @extend .col-sm-8;

    .center {
        text-align: center;
    }

    .profile-image {
        @extend .img-thumbnail;
        max-width: 171px;
        max-height: 180px;
    }

    .social {
        @extend .btn-group;
        margin-top: 10px;

        a {
            @extend .btn;
            @extend .btn-default;
        }
    }
}
