/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require library/styles/reset
 *= require library/styles/typography
 *= require library/layouts/2c-r-fixed
 *= require library/styles/images
 *= require library/styles/default
 *= require library/styles/plugins
 *= require library/styles/openfest
 *= require_directory .
 *= require_self
 */

#main {
  font-size: 16px;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 2em;
}
