<p>Добре дошли, <%= @email %>!</p>

<p>Можете да потвърдите акаунта си като кликнете на линка отдолу:</p>

<p><%= link_to 'Потвърди акаунта ми', confirmation_url(@resource, confirmation_token: @token) %></p>
