<p>Здравейте, <%= @resource.email %>!</p>

<p>Някой поиска линк за промяна на парола на аканута Ви. Паролата може да бъде променена от линкът отдолу.</p>

<p><%= link_to 'Промяна на парола', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ако не желаете да смените паролата си, моля изтрийте това писмо.</p>
<p>Паролата Ви няма да бъде променена докато не кликнете горния линк и не въведете нова парола.</p>
