<p>Здравейте, <%= @resource.email %>!</p>

<p>Акаунтът Ви беше заключен поради голям брой неуспешни опити за влизане в него.</p>

<p>Кликнете линкът отдолу, за да го отключите:</p>

<p><%= link_to 'Отключване на акаунт', unlock_url(@resource, unlock_token: @token) %></p>
