- content_for(:title) { t 'views.events.submit_event', event_type: @event.event_type.name.mb_chars.downcase }

h2= t('views.events.submit_event', event_type: @event.event_type.name.mb_chars.downcase)

= render 'form'
