doctype html

html
  head
    meta charset="utf-8"
    title
      = Conference.current.try :title
      = yield :title if content_for? :title
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  body
    #wrapper.hfeed
      header#header
        #branding
          #blog-title
            span
              = link_to 'http://openfest.org/', title: 'OpenFest', rel: 'home' do
                = image_tag '//openfest.org/images/logo-header.png', alt: 'OpenFest'
          h1#blog-description
            = t(:of_motto)
        #access
          == render partial: '/shared/nav'
      #main
        == render(partial: '/shared/flash_messages') unless flash.empty?
        == yield
    = javascript_include_tag 'application'
